/home/wangjingchu/code/SDGLM/llm/ckpt_tuning_gpse2/checkpoint-42120/pytorch_model.zip
/home/wangjingchu/code/SDGLM/state_dict/gpsemlp_state_dict.bin
/home/wangjingchu/code/SDGLM/state_dict/struct_projector_state_dict.bin